<html>
    <head>
        <style>
           body 
            {
                background-image: url('/static/Majors.jpeg');
                background-repeat: no-repeat;
                background-attachment: fixed; 
                background-size: 50% 70%;
                background-position: center bottom;
            }
            h1 {text-align: center; color:rgb(0, 0, 0);
                padding-top: 5%}
          
            p {text-align: center; color:black}
            div {text-align: center;color:rgb(37, 40, 238)}
            input {text-align: center;color:rgb(14, 146, 10) }


            
        </style>
    </head>
<body>
    <div class="center">
    <h1>Please select the major and metric of interest :)</h1>
    <form  method="POST">
        <p>
        <label for="Major">Major:</label>
        <select id="Major" name="Major">
            <option value="">--Please choose a major--</option>
            <option value="Agricultural Economics">Agricultural Economics</option>
            <option value="Animal Sciences">Animal Sciences</option>
            <option value="Anthropology and Archeology">Anthropology and Archeology</option>
            <option value="Area and Ethnic Studies">Area and Ethnic Studies</option>
            <option value="Atmospheric Sciences and Meteorology">Atmospheric Sciences and Meteorology</option>
            <option value="Biochemistry and Biophysics">Biochemistry and Biophysics</option>
            <option value="Biological Sciences">Biological Sciences</option>
            <option value="Botany">Botany</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Computer Science and Math">Computer Science and Math</option>
            <option value="Criminology">Criminology</option>
            <option value="Earth Sciences">Earth Sciences</option>
            <option value="Economics">Economics</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="Environmental Science Studies">Environmental Science Studies</option>
            <option value="Food Sciences and Technology">Food Sciences and Technology</option>
            <option value="Forestry Services">Forestry Services</option>
            <option value="Genetics, Animal and Plant">Genetics, Animal and Plant</option>
            <option value="Geography">Geography</option>
            <option value="Geology">Geology</option>
            <option value="History of Science">History of Science</option>
            <option value="Information Services and Systems">Information Services and Systems</option>
            <option value="International Relations">International Relations</option>
            <option value="Linguistics">Linguistics</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Nutritional Science">Nutritional Science</option>
            <option value="OTHER Agricultural Sciences">OTHER Agricultural Sciences</option>
            <option value="OTHER Geological Sciences">OTHER Geological Sciences</option>
            <option value="OTHER Physical and Related Sciences">OTHER Physical and Related Sciences</option>
            <option value="Oceanography">Oceanography</option>
            <option value="Operations Research">Operations Research</option>
            <option value="Other Engineering">Other Engineering</option>
            <option value="Pharmacology, Human and Animal">Pharmacology, Human and Animal</option>
            <option value="Philosophy of Science">Philosophy of Science</option>
            <option value="Physics and Astronomy">Physics and Astronomy</option>
            <option value="Physiology, Human and Animal">Physiology, Human and Animal</option>
            <option value="Plant Sciences">Plant Sciences</option>
            <option value="Political Science and Government">Political Science and Government</option>
            <option value="Psychology">Psychology</option>
            <option value="Public Policy Studies">Public Policy Studies</option>
            <option value="Sociology">Sociology</option>
            <option value="Statistics">Statistics</option>
            <option value="Zoology, General">Zoology, General</option>
        </select><br>
        </p>
        <p>
        <label for="Metric">Metric:</label>
        <select id="Metric" name="Metric">
            <option value="">--Please choose a metric--</option>
            <option value="Demographics.Ethnicity.Minorities">Minority Proportion</option>
            <option value="Demographics.Gender.Females">Females Proportion</option>
            <option value="Education.Degrees.Bachelors">Bachelors Proportion</option>
            <option value="Education.Degrees.Doctorates">Doctorates Proportion</option>
            <option value="Education.Degrees.Masters">Masters Proportion</option>
            <option value="Employment.Employer Type.Business/Industry">Employer: Business/Industry</option>
            <option value="Employment.Employer Type.Educational Institution">Employer: Educational Institution</option>
            <option value="Employment.Employer Type.Government">Employer:  Government</option>
            <option value="Employment.Status.Unemployed">Unemployed Rate</option>
        </select><br>
        </p>    
        <input type="submit">
    </form>
    </div>
</body>
</html>